In [3]:
print ( 2 + 2 * 2 )
print ( (2 + 2) * 2 )
print ( 2 ** 7 )
print ( 47 / 10 )
print ( 47 // 10 )
print ( 47 % 10 )

6
8
128
4.7
4
7

Zadanie 1.2.1 - dziesięciocyfrowe potęgi dwójki

In [21]:
#Binsearch pierwszej dziesięciocyfrowej potęgi 2
st = 1
kon = 50
sz = 10**9
while ( st <= kon):
    sr = (st + kon) // 2
    if( (1 << sr) <= sz):
        st = sr + 1
    else:
        kon = sr - 1
# st = wyn
res = []
ter = 1 << st
gra = 10**10
while ( ter < gra ):
    res.append(ter)
    ter <<= 1

#print(res)
# A nie, miałem to zrobić jak z kalkulatora. W takim razie poniżej
a = 2**10
#print(a)
a = 2**25
#print(a)
a = 2**30
print(a)
a *= 2
print(a)
a *= 2
print(a)
a *= 2
print(a)

1073741824
2147483648
4294967296
8589934592

Zadanie 1.2.2

In [15]:
w = 10.7
w = w // 1
print(w)

w = 1.1234
w = w // 1
print(w)

w = 3.5
w = w // 1
print(w)

10.0
1.0
3.0

Zadanie 1.3.1

In [22]:
for n in [1, 2, 3, 4, 5, 10, 100, 1000, 10000]:
    print( (1 + 1/n) ** n )

2.0
2.25
2.37037037037037
2.44140625
2.4883199999999994
2.5937424601000023
2.7048138294215285
2.7169239322355936
2.7181459268249255

Zadanie 2.1.1

In [23]:
for i in range(1, 20, 2):
    print(i)
    print(-i)

1
-1
3
-3
5
-5
7
-7
9
-9
11
-11
13
-13
15
-15
17
-17
19
-19

Zadanie 4.1.1

In [28]:
# Tak rozwiązuje wszystkie zasania z geometri w programowaniu (choć musiałem tłumaczyć z C++ na Python)
class pkt:
    def __init__(self, x, y):
        self.x = x
        self.y = y

r = 5
O = pkt(5, 5)
def stosunek(p:pkt):
    if ( (p.x - O.x)**2 + (p.y - O.y)**2 <  r**2 ):
        print("Wewnątrz")
    if ( (p.x - O.x)**2 + (p.y - O.y)**2 == r**2 ):
        print("Na okręgu")
    else:
        print("Na zewnątrz")
    

for p in [pkt(10, 2), pkt(10, 5), pkt(8, 8)]:
    print("Punkt", p.x, p.y, 'jest ', sep = ' ', end='')
    stosunek(p)

Punkt 10 2 jest Na zewnątrz
Punkt 10 5 jest Na okręgu
Punkt 8 8 jest Wewnątrz
Na zewnątrz

Zadanie 4.2.1

In [32]:
def suma_liczb(a, b):
    #Zrobiłbym to wzorkiem na sumę :(  ):
    a //= 1
    a += 1
    sum = 0
    while (a < b):
        sum += a
        a+=1
    return sum

a = float( input() )
b = float ( input() )
print(suma_liczb(a, b))

18.0

5 - ZADANIA DODATKOWE

Zadanie 5.0.1

In [49]:
sum = 0
for i in range(1, 101):
    sum += i**2
print(sum)

338350

Zadanie 5.0.2

In [52]:
n = int(input())

for i in range(n):
    for j in range(i):
        print(end='7')
    print()

7
77
777
7777
77777
777777
7777777

6 - PRACA DOMOWA NR.1

Zadanie 6.0.1

In [33]:
for i in range(10, 100):
    if(i % 7 == 0):
        print ( i, end = ' ')

14 21 28 35 42 49 56 63 70 77 84 91 98

Zadanie 6.0.2

In [35]:
elem = 65536

for i in range(20):
    print(elem)
    elem *= -1/2

65536
-32768.0
16384.0
-8192.0
4096.0
-2048.0
1024.0
-512.0
256.0
-128.0
64.0
-32.0
16.0
-8.0
4.0
-2.0
1.0
-0.5
0.25
-0.125

1048576

Zadanie 6.0.3

In [38]:
ciag_fib = [0, 1]
print(0, 1, sep='\n')
for i in range(20):
    ciag_fib.append( ciag_fib[-1] + ciag_fib[-2])
    print(ciag_fib[-1])

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946

Zadanie 6.0.4

In [36]:
#Jeśli dobrze zrozumiałem, losujemy 6 liczb, po wylosowaniu liczba nie może się powtórzyć

pula = 49
wyn = 1
for i in range(6):
    wyn *= pula
    pula -= 1
print(wyn)

10068347520

Zadanie 6.0.5

In [39]:
for i in range(1, 11):
    if(i % 2 == 0 and i % 3 == 0):
        print(i)
    elif(i % 2 == 0):
        print(i, i, sep=', ')
    elif(i % 3 == 0):
        print(i, i, i, sep = ', ')
    else:
        print(i)

1
2, 2
3, 3, 3
4, 4
5
6
7
8, 8
9, 9, 9
10, 10

Zadanie 6.0.6

In [42]:
#Jeśli dobrze zrozumiałem, losujemy 6 liczb, po wylosowaniu liczba nie może się powtórzyć. Dowolne 3 z nich muszą być trafione
# ***xxx **x*xx 

# Mamy dwumian (3 6) możliwości wyboru liczb trafionych
# Dla każdej z nich szansa wynosi 1/49 * 1/48 * 1/47

def sil(a):
    wyn = 1
    while(a >= 1):
        wyn *= a
        a -= 1
    return wyn

pula = 49
wyn = 1
for i in range(3):
    wyn *= pula
    pula -= 1
#print("Liczba możliwych losowań 3 liczb :", wyn)
wyn = 1 / wyn
wyn *= sil(6) / (sil(3) * sil(3))
print( wyn )

Liczba możliwych losowań 3 liczb : 110544
0.00018092343320306846

Zadanie 6.0.7 - Moje ulubione, sito erastotenesa :)))

In [43]:
sito = [True] * 1000 # Przechowywuje czy liczba jest pierwsza

for i in range(2, 1000):
    if(sito[i]):
        print(i)
        for j in range(2*i, 1000, i):
            sito[j] = False

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

Zadanie 6.0.8

In [48]:
n = int ( input() )

pascal = [1]

for i in range(n):
    for j in pascal:
        print(j, end = ', ')
    print()
    n_pascal = [ pascal[0]]
    for j in range(len(pascal) - 1):
        n_pascal.append(pascal[j] + pascal[j + 1])
    n_pascal.append(pascal[-1])
    pascal = n_pascal

1,
1, 1,
1, 2, 1,
1, 3, 3, 1,
1, 4, 6, 4, 1,
1, 5, 10, 10, 5, 1,